/* Responsive CSS */

/*  
This file is used for responsive css based on screen size for mobile
and also computer window adjustments. The purpose of this file is
to optimize the css code for any repeating changes to make sure that
if css changes are being made and some pages share similar changes then
the css won't have as much reptitive code.
*/

/* Mobile Adjustments */

/* Contact and Profile Page */

/* Width */
/* Containers */
@media only screen and (max-width: 800px) {
    /* Changing look for the main background containers */
    .background-contact-info-cont, .background-profile-cont {
        padding: 25px 25px 25px 25px;
        box-shadow: 15px 15px 13px rgba(183, 191, 196, 0.7);
    }

    .contact-cont {
        margin-bottom: 9vh;
    }
}

@media only screen and (max-width: 500px) {
    .background-contact-info-cont, .background-profile-cont {
        padding: 20px 20px 20px 20px;
    }

    .contact-cont {
        margin-bottom: 6vh;
    }
}

/* Text */
@media only screen and (max-width: 620px) {
    .contact-us-title, .profile-page-title {
        margin: 3vh 0px 3vh 0px;
        font-size: 48px;
    }

    .profile-welcome-text {
        font-size: 28px;
        padding-bottom: 25px;
    }

    .contact-phone-num, .contact-email {
        font-size: 26px;
    }

    .profile-username-text, .profile-email-text {
        font-size: 22px;
    }
}

@media only screen and (max-width: 520px) {
    .contact-us-title, .profile-page-title {
        font-size: 44px;
    }

    .profile-welcome-text {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .contact-phone-num, .contact-email {
        font-size: 22px;
    }

    .profile-username-text, .profile-email-text {
        font-size: 18px;
    }
}

@media only screen and (max-width: 420px) {
    .profile-page-cont {
        margin-top: 2vh;
    }
    
    .contact-us-title, .profile-page-title {
        margin: 2vh 0px 2vh 0px;
        font-size: 40px;
    }

    .contact-phone-num, .contact-email {
        font-size: 16.8px;
    }

    .contact-phone-num {
        margin: 3vh 0px 1vh 0px;
    }

    .contact-pic-cont {
        margin: 2vh 0px 1vh 0px;
    }

    .profile-welcome-text {
        font-size: 22px;
        padding-bottom: 15px;
    }

    .profile-username-text, .profile-email-text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    .contact-us-title, .profile-page-title {
        font-size: 38px;
    }

    .contact-phone-num, .contact-email {
        font-size: 15px;
    }

    .contact-pic-cont {
        margin: 1vh 0px 0px 0px;
    }

    .profile-welcome-text {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .profile-username-text, .profile-email-text {
        font-size: 14px;
    }
}

/* Height */
/* Text */
@media only screen and (max-height: 700px) {
    .contact-us-title, .profile-page-title {
        margin: 3vh 0px 3vh 0px;
    }

    .background-contact-info-cont, .background-profile-cont {
        padding: 25px 25px 25px 25px;
        box-shadow: 15px 15px 13px rgba(183, 191, 196, 0.7);
    }

    .background-contact-info-cont {
        max-width: 70%;
    }
}

@media only screen and (max-height: 550px) {
    /* Contact Page */
    .background-contact-info-cont {
        max-width: 45%;
    }

    .contact-phone-num, .contact-email {
        font-size: 17px;
    }

    /* Profile Page*/
    .background-profile-cont {
        max-width: 70%;
    }

    .profile-welcome-text {
        padding-bottom: 0px;
    }

    .white-profile-cont {
        padding: 0px;
    }
}