/* Forgot Password CSS */

/* Form styling is from sessions.css */
/* session-input is from sessions.css */
/* error-message styling is from sessions.css */
/* forgot-password-submit-btn styling mostly in session.css */

/* Containers */
.forgot-password-page-cont {
    display: flex;
    justify-content: center;
}

.forgot-password-page-cont {
    margin: 1vh 0px 6vh 0px;
}

/* Buttons and Hover Details */
.forgot-password-submit-btn {
    width: 216px;
}

/* Text, Links, Decorations */
.password-recovery-label {
    text-align: center;
    margin: 10px 0px 20px 0px;
    font-size: 34px;
}

/* Continue later !!! */