/* CSS for the Splash Page */

/* Containers */
.splash-container, .home-content-cont, .slideshow-container {
    display: flex;
    justify-content: center;
}

.splash-container {
    width: 100%;
    height: 100%;
    margin: 6vh 0px 8vh 0px;
}

.slideshow-container {
    align-items: center;
    position: relative;
    max-width: 92%;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 20px 25px 15px rgba(183, 191, 196, 0.7);
    background-image: linear-gradient(180deg, rgb(183, 191, 196), rgb(214, 223, 228), rgb(183, 191, 196));
}

/* Text Overlay Containers */
.overlay-text {
    display: none;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    background-image: linear-gradient(180deg, rgb(183, 191, 196), rgb(214, 223, 228), rgb(183, 191, 196));
    opacity: 0;
    animation: slide 9s ease-in-out;
    animation-delay: 3s;
}

.overlay-text.active {
    display: block;
}

@keyframes overlay-text {
    /* fade in */
    0% {
        opacity: 0;
    }

    0.5% {
        opacity: 1;
    }

    /* fade out */
    99.5% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Text */


/* Slideshow */
.slide {
    display: none;
    width: 92%;
    height: 92%;
    opacity: 0.01;
    animation: slide 15s ease-in-out;
}

.slide.active {
    display: block;
}

@keyframes slide {
    /* fade in */
    15% {
        opacity: 1;
    }
    /* keep the image from fading */
    85% {
        opacity: 1;
    }
    /* fade out */
    100% {
        opacity: 0.01;
    }
}

/*  
This css file is a great example of how mobile height and width adjustments can be
kind of complicated. As the width numbers get smaller and smaller I put in the one
height adjustment check. After that height adjustment check, there is a check for
even smaller width adjustment to adjust off of the last check which was the height
check. The reason it is in that order is because the height check is checking for
devices that have a huge width while having a much smaller height. The ratio would be
for example: 2/1 (width to height). In the case of when the width reaches a specific
smaller amount, the possiblity of having a device with a smaller height to width
ratio becomes impossible, therefore we want every width adjustment to come after
the one and only height adjustment check in the file.
/*

/* Mobile Adjustments */

/* Width */
@media only screen and (max-width: 920px) {
    .overlay-text {
        font-size: 24px;
    }
}

@media only screen and (max-width: 850px) {
    .overlay-text {
        font-size: 22px;
    }
}

/* Next 2 adjustments are for a white line bug on the images */
@media only screen and (max-width: 849px) {
    .slideshow-container {
        max-width: 91.8%;
    }
}

@media only screen and (max-width: 847px) {
    .slideshow-container {
        max-width: 92%;
    }
}
/* end */

@media only screen and (max-width: 800px) {
    .slideshow-container {
        box-shadow: 15px 15px 13px rgba(183, 191, 196, 0.7);
    }
}

@media only screen and (max-width: 700px) {
    .splash-container {
        margin-top: 5vh;
    }

    .overlay-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 695px) {
    .slideshow-container {
        max-width: 88%;
    }
}

@media only screen and (max-width: 600px) {
    .overlay-text {
        font-size: 18px;
    }
}

@media only screen and (max-width: 570px) {
    .slideshow-container {
        padding: 14px;
    }
}

@media only screen and (max-width: 550px) {
    .splash-container {
        margin-top: 4vh;
    }

    .overlay-text {
        font-size: 15px;
        width: 39.5%;
        padding: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .overlay-text {
        width: 42%;
    }
}

/* Height */
@media only screen and (max-height: 700px) {
    .splash-container {
        margin: 8vh 0px 13vh 0px;
    }

    /* Adjustment for bigger devices or landscape mode */
    .slideshow-container {
        max-width: 58%;
    }

    .overlay-text {
        top: 26%;
        font-size: 15px;
        width: 40%;
        padding: 10px;
    }
}

@media only screen and (max-height: 600px) {
    .splash-container {
        margin: 7vh 0px 12vh 0px;
    }

    .slideshow-container {
        max-width: 48%;
        padding: 14px;
    }

    .overlay-text {
        width: 45%;
    }
}

@media only screen and (max-height: 500px) {
    .splash-container {
        margin: 6vh 0px 11vh 0px;
    }

    .slideshow-container {
        max-width: 42%;
    }

    .overlay-text {
        width: 50%;
        font-size: 14px;
    }
}

@media only screen and (max-height: 400px) {
    .overlay-text {
        width: 55%;
        font-size: 13px;
    }
}

@media only screen and (max-height: 300px) {
    .slideshow-container {
        max-width: 36%;
    }

    .overlay-text {
        width: 60%;
        font-size: 12px;
    }
}
/* Height End */

/* if width <= 450, set the max-width back to default */
/* overwrite the height changes if the screen width gets too small */
@media only screen and (max-width: 450px) {
    .splash-container {
        margin: 4vh 0px 8vh 0px;
    }

    .slideshow-container {
        max-width: 90%;
        box-shadow: 10px 10px 10px rgba(183, 191, 196, 0.7);
        padding: 9px;
    }

    .overlay-text {
        width: 45%;
    }
}

@media only screen and (max-width: 395px) {
    .overlay-text {
        width: 52%;
    }
}

@media only screen and (max-width: 340px) {
    .slideshow-container {
        max-width: 85%;
    }

    .overlay-text {
        font-size: 12px;
        width: 60%;
    }
}

@media only screen and (max-width: 290px) {
    .slideshow-container {
        padding: 6px;
    }
}
/* Width End */