/* Login & Signup Pages CSS */

/* Containers */
.login-page-container, .signup-page-container, .form-bottom-container,
.submit-cont, .email-cont, .username-cont, .password-cont, .password-check-cont {
    display: flex;
    justify-content: center;
}

.login-page-container, .signup-page-container {
    height: 100%;
    width: 100%;
}

.email-cont, .password-cont, .submit-cont,
.username-cont, .password-check-cont, .form-line {
    max-width: 100%;
}

.email-cont, .password-cont, .submit-cont, .username-cont, .password-check-cont {
    height: 34px;
}

.submit-cont {
    margin: 12px 0px 20px 0px;
}

.password-cont, .password-check-cont {
    position: relative;
}

/* Forms */
.login-form, .signup-form {
    max-width: 70%;
    background-color: rgb(201, 232, 255);
    margin: 5vh 0px 5vh 0px;
    padding: 24px 29px 24px 29px;
    border-radius: 7px;
    box-shadow: 15px 15px 13px rgba(183, 191, 196, 0.7);
}

.login-form, .signup-form {
    max-height: 100%;
}

/* Form Inputs */
.session-input {
    width: 286px;
    height: 20px;
    border: 1px solid rgba(137, 137, 137, 0.6);
    margin-bottom: 14px;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 2px;
    background-image: linear-gradient(180deg, rgb(218, 225, 230), rgb(255, 255, 255));
}

.session-input:focus {
    outline: none;
    background-image: none;
    border: 1px solid rgba(137, 137, 137);
}

.session-input:focus::placeholder {
    color: transparent;
}

.password-icon {
    position: absolute;
    width: 23px;
    height: 23px;
    margin-top: 1px;
    right: 2%;
}

.password-icon:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Buttons and Hover Details */
.login-submit-btn, .signin-submit-btn {
    width: 272px;
    height: 40px;
    background-color: rgb(49, 144, 220);
    font-size: 17px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 3px;
}

.login-submit-btn:hover, .signin-submit-btn, .forgot-password {
    cursor: pointer;
}

.login-submit-btn:hover, .signin-submit-btn:hover {
    background-color: rgb(80, 166, 237);
    color: black;
}

.forgot-password:hover, .to-sign-up:hover, .to-log-in:hover {
    color: red;
}

/* Text, Links, and Decorations */
.to-sign-up, .to-log-in {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.login-label, .signup-label, .forgot-password, .not-member, .member {
    text-align: center;
}

.login-label, .signup-label {
    margin: 10px 0px 25px 0px;
    font-size: 38px;
}

.error-message {
    margin: 0px 0px 5px 0px;
    text-align: center;
    color: red;
    font-size: 15px;
}

.forgot-password, .not-member, .member {
    font-size: 17px;
    margin: 0px;
    margin: 10px;
}

.form-line {
    height: 1px;
    background-color: rgb(38, 38, 38);
}

/* Mobile Adjustments */

/* Width */
@media only screen and (max-width: 420px) {
    .error-message {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .login-label, .signup-label {
        margin-top: 3px;
    }

    .member {
        font-size: 15.4px;
    }

    .login-form, .signup-form {
        margin-top: 3vh;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 390px) {
    .error-message {
        font-size: 13px;
    }
}

@media only screen and (max-width: 360px) {
    .error-message {
        font-size: 12px;
    }
}

@media only screen and (max-width: 350px) {
    .session-input {
        max-width: 100%;
    }

    .not-member {
        font-size: 14.8px;
    }

    .member {
        font-size: 12.8px;
    }

    .password-icon {
        right: 1.7%;
    }
}

@media only screen and (max-width: 335px) {
    .error-message {
        font-size: 10.9px;
    }
}

@media only screen and (max-width: 325px) {
    .password-icon {
        right: 1%;
    }
}

@media only screen and (max-width: 300px) {
    .not-member {
        font-size: 13.7px;
    }

    .member {
        font-size: 11.8px;
    }

    .password-icon {
        right: 0.1%;
    }

    .error-message {
        font-size: 10.15px;
    }
}

/* Height */
@media only screen and (max-height: 700px) {
    .login-form, .signup-form {
        margin-top: 3vh;
    }

    .login-label, .signup-label {
        margin: 2vh 0vh 2vh 0vh;
        font-size: 38px;
    }

    .login-form, .signup-form {
        padding-top: 4px;
    }

    .login-label, .signup-label {
        margin-top: 5px;
    }
}