/* Shop CSS */

/* Containers */
.shop-cont, .add-cart-cont {
    display: flex;
    justify-content: center;
    margin: 7vh 0px 10vh 0px;
}

/* Buttons and Hover Details */


/* Text, Links, Decorations */
