# Ignore important dependencies and files
**node_modules
**/__pycache__/
undefined
APIKeys/
bundle.js
bundle.js.LICENSE.txt
frontend/static/images

# Webpack Testing files
stats.json
statshowtouse.txt

# Database
# Uncomment later when you want to add a new database for production besides the default
# db.sqlite3