/* Dashboard CSS */

/* Admin Portal */
.dashboard-page-container, .dashboard-text-cont, .admin-link-cont, .reload-cont {
    display: flex;
    justify-content: center;
    position: absolute;
    vertical-align: center;
}

.dashboard-page-container {
    width: 100%;
    height: auto;
}

.dashboard-text-cont, .admin-link-cont, .reload-cont {
    width: 400px;
}

.dashboard-text-cont {
    height: 350px;
    background-color: white;
    margin-top: 7vh;
    padding: 24px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.dash-title, .reload-text {
    text-align: center;
    font-size: 38px;
    margin: 0px;
}

.reload-text {
    margin-top: 300px;
}

.to-admin {
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-top: 148px;
    font-weight: 600;
    z-index: 2;
}

.to-admin:hover {
    color: darkorchid;
}

/* Mobile Adjustments */
@media only screen and (max-width: 440px) {
    .dash-title, .reload-text {
        font-size: 30px;
    }

    .to-admin {
        font-size: 32px;
    }
}

@media only screen and (max-width: 340px) {
    .dash-title, .reload-text {
        font-size: 24px;
    }

    .to-admin {
        font-size: 26px;
    }
}