/* Splash Page CSS */

/* Merge with another CSS file if the CSS takes too long to load in future */

/* Containers */
.header-detail-container, .gvf-logo-container, .gvf-lures-logo-image {
    display: flex;
}

.header-detail-container {
    height: auto;
    width: 100%;
    justify-content: center;
    margin-top: 1vh;
}

/* if the screen size gets smaller you might need this to be adjusted */
.gvf-logo-container {
    width: 900px;
    height: auto;
}

/* Text, Links, Images, and Decorations */

.gvf-lures-logo-image { /* if images are not showing make sure dimensions are set */
    width: 160px;
    height: 160px;
    justify-content: center;
    background: url('../frontend/images/GVFLuresLogo.jpg') no-repeat;  /* background url for a div tag */
    background-size: contain;
    background-position: center;
}

.site-logo-link {
    z-index: 2;
    width: 136px;   /* helps center the link within the div image */
    height: 100%;
}