/* Splash Page CSS */

/* Merge with another page if CSS takes too long to load in future */

/* Containers */
.gvf-logo-container, .phone-num-cont {
    display: flex;
    height: auto;
}

.gvf-logo-container {
    width: 100%;
    justify-content: space-between;
    margin-top: 4vh;
}

.phone-num-cont {
    padding-right: 4vw;
}

/* Text, Links, Images, and Decorations */

.gvf-lures-logo-image { /* if image is not showing make sure dimensions are set */
    width: 183px;
    height: 220px;
    background: url('../frontend/GVFLuresLogo.jpg');
}

.site-title {   /* NEXT MAKE SURE TO MAKE THE LINK INVISIBLE Z-INDEX ABOVE IMAGE OR JUST MAKE THE IMAGE CLICKABLE DO RESEARCH */
    text-decoration: none;
    font-size: 35px;
    padding-left: 2vw;
    color: blue;
}

.red-phone-icon {
    font-size: 17px;
    margin-top: 1.8vh;
    padding-right: 2px;
}

.site-title:hover {
    color: rgb(150, 150, 255);
}