/* Info Nav Panel CSS */

/* Containers */
.gvf-lures-text-cont {
    display: flex;
    justify-content: center;
}

.gvf-logo-cont, .site-logo-link {
    position: absolute;
    z-index: 1;
    height: 106px;
}

.gvf-logo-cont {
    width: 100%;
    z-index: 1;
}

.gvf-lures-text-cont {
    height: auto;
    width: 100%;
    margin-top: 1vh;
}

/* Text, Links, Images, and Decorations */

.gvf-lures-logo-image, .site-logo-link {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.gvf-lures-logo-image {
    object-fit: contain;
}

.site-logo-link {
    width: 87px;
    top: 1%;
    left: 30%;
}

/* Can be replaced with an actual gvf lures logo title later */
.main-gvf-lures-text {
    font-size: 50px;
    text-align: center;
    height: 60px;
    margin: 0px;
}

/* Mobile Adjustments */

/* Height */
@media only screen and (max-height: 850px) {
    .site-logo-link {
        top: 2%;
    }
}

@media only screen and (max-height: 650px) {
    .site-logo-link {
        top: 3%;
    }
}

/* Width */

/* Site Logo */
/* Big Monitors/TV's */
@media only screen and (max-width: 4500px) {
    .site-logo-link {
        left: 39.3%;
    }
}

@media only screen and (max-width: 3800px) {
    .site-logo-link {
        left: 37.8%;
    }
}

@media only screen and (max-width: 3300px) {
    .site-logo-link {
        left: 35.8%;
    }
}

@media only screen and (max-width: 2800px) {
    .site-logo-link {
        left: 33.3%;
    }
}

/* Test Monitor */
@media only screen and (max-width: 2560px) {
    .site-logo-link {
        left: 32%;
    }
}

/* Computers */
@media only screen and (max-width: 2560px) {
    .site-logo-link {
        left: 32%;
    }
}

@media only screen and (max-width: 2100px) {
    .site-logo-link {
        left: 28.2%;
    }
}

/* Average Computer Monitor */
@media only screen and (max-width: 1920px) {
    .site-logo-link {
        left: 26.3%;
    }
}

@media only screen and (max-width: 1500px) {
    .site-logo-link {
        left: 19.9%;
    }
}

@media only screen and (max-width: 1280px) {
    .site-logo-link {
        left: 14.85%;
    }
}

/* Continue below once you have completed the middle navbar adjustments and */
/* once the home page css and structure is up to date */

@media only screen and (max-width: 1024px) {
    .site-logo-link {
        left: 6%;
    }
}