/* CSS for the Splash Page */

/* Containers */

.splash-container, .home-content-cont {
    display: flex;
    justify-content: center;
}

.splash-container {
    width: 100%;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: 7vh;
}

.home-content-cont {
    width: 890px;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 20px 25px 15px rgba(183, 191, 196, 0.7);
    background-image: linear-gradient(180deg, rgb(183, 191, 196), rgb(214, 223, 228), rgb(183, 191, 196));
}

/* Text */
.welcome-message {
    text-align: center;
    font-size: 40px;
    margin-top: 3vh;
}

/* Slideshow */
/* Maybe in the future add a different transition */
.SLIDE-HOME {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 800px;
    height: 600px;
    background-position: center;
    background-size: contain;
    backface-visibility: hidden;
    animation: slideHome 30s linear infinite;
}

@keyframes slideHome {
    0% {
        background: url('../frontend/images/Slide1.jpg') no-repeat;
    }

    33% {
        background: url('../frontend/images/Slide1.jpg') no-repeat;
    }

    34% {
        background: url('../frontend/images/Slide2.jpg') no-repeat;
    }

    66% {
        background: url('../frontend/images/Slide2.jpg') no-repeat;
    }

    67% {
        background: url('../frontend/images/Slide3.jpg') no-repeat;
    }

    99% {
        background: url('../frontend/images/Slide3.jpg') no-repeat;
    }

    100% {
        background: url('../frontend/images/Slide1.jpg') no-repeat;
    }
}