/* Containers */

.splash-container, .home-content-cont {
    display: flex;
    justify-content: center;
}

.splash-container {
    width: 100%;
    height: 100%;
}

.home-content-cont {
    width: 60%;
    height: 60%;
    border-radius: 10px;
}

/* Slideshow */
.SLIDE-HOME {   /* come back and fix here */ /* Also make sure to move _images.js
                to the component directory so it doesn't get .gitignored */
    margin-top: 1vh;
    width: 800px;
    height: 600px;
    background-position: center;
    background-size: contain;
    backface-visibility: hidden;
    animation: slideHome 30s linear infinite 0s;
    animation-timing-function: cubic-bezier(1,0,0,1);
    background: url('../frontend/images/Fish_Lures2.jpg') no-repeat;
}

@keyframes slideHome {
    0% {
        background: url('../frontend/images/Fish_Lures6.jpg') no-repeat;
    }
    
    50% {
        background: url('../frontend/images/FishingP4.jpg') no-repeat;
    }

    100% {
        background: url('../frontend/images/FishingP7.jpg') no-repeat;
    }
}