/* All Navbar and some Footer CSS*/

/* Containers */
.master-header, .left-nav-menu-list, .right-nav-menu-list, .slash-cont,
.middle-nav-cont, .middle-nav-list, .menu-nav-closed {
    display: flex;
}

.master-header, .menu-nav-cont, .menu-nav-closed, .menu-nav-list-cont,
.menu-nav-list {
    width: 100%;
}

.master-header {
    justify-content: right;
    margin-top: -9px;
    height: 38px;
    background-image: linear-gradient(180deg, rgb(170, 177, 181), rgb(255, 255, 255));
    z-index: 2;
}

.right-nav {
    width: 30%;
}

.middle-nav-cont, .menu-nav-cont, .menu-nav-list-cont {
    justify-content: center;
}

.middle-nav-cont, .menu-nav-cont {
    margin-top: 1vh;
}

.middle-nav-list {
    margin-bottom: 0;
}

.menu-nav-cont, .menu-nav-list-cont {
    display: none;
}

.menu-nav-closed, .menu-nav-list {
    border: 1px solid rgb(137, 137, 137);
}

.menu-nav-closed {
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(180deg, rgb(200, 209, 214), rgb(255, 255, 255));
    margin: 16px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
    z-index: 2;
    max-width: 50.5%;
}

.menu-nav-list-cont {
    position: relative;
    z-index: 100;
}

.menu-nav-list {
    display: block;
    position: absolute;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(200, 209, 214));
    margin: 0;
    padding: 0;
    max-width: 55.4%;
}

/* Images */
.menu-icon-img {
    width: 32px;
    height: 32px;
    background: url('../frontend/images/menuicon.png') no-repeat;
}

/* List and List Items */
.left-nav-menu-list {
    padding-left: 5px;
}

.right-nav-menu-list, .middle-nav-list {
    padding: 0px;
}

.home-li, .contact-li, .login-li, .signup-li, .logout-li, .home-middle-li,
.contact-middle-li, .lakes-middle-li, .gallery-middle-li, .profile-middle-li,
.menu-text, .home-menu-li, .contact-menu-li, .lakes-menu-li,
.gallery-menu-li, .profile-menu-li {
    list-style-type: none;
}

.home-li, .contact-li, .login-li, .signup-li, .logout-li {
    padding: 0 8px;
}

.home-middle-li, .contact-middle-li, .lakes-middle-li,
.gallery-middle-li, .profile-middle-li {    /* padding is top, right, bottom, and left */
    padding: 15px 0px 15px 0px;
    background-image: linear-gradient(180deg, rgb(200, 209, 214), rgb(255, 255, 255));
    border: 1px solid rgb(137, 137, 137);
    z-index: 2;
}

.contact-middle-li, .lakes-middle-li, .gallery-middle-li, .profile-middle-li {
    border-left: hidden;
}

.menu-text {
    padding: 12.5px 0px 12.5px 0px;
    font-size: 20px;
}

.home-menu-li, .contact-menu-li, .lakes-menu-li,
.gallery-menu-li, .profile-menu-li {
    padding: 20px 0px 20px 0px;
    font-weight: 600;
}

/* Links */     
/* Some links will overlap from other pages here since each link wants  */
/* these properties. On other css pages, slight adjustments might be    */
/* made to links based on their specific css needed for that page.      */

.home-link, .contact-link, .login-link, .signup-link, .logout-link,
.to-page, .f-to-page {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.to-page {     /* extra padding used to make the whole li clickable */
    padding: 17px 24px 16px 24px;
}

/* Hover Effects */
/* Same thing as links, but for hover effects as stated above */

.home-middle-li:hover, .contact-middle-li:hover, .lakes-middle-li:hover,
.gallery-middle-li:hover, .profile-middle-li:hover, .menu-nav-closed:hover {
    background-image: linear-gradient(180deg, rgb(210, 220, 225), rgb(255, 255, 255));
}

.home-link:hover, .contact-link:hover, .login-link:hover, .signup-link:hover,
.logout-link:hover, .to-page:hover, .f-to-page:hover {
    color: red;
}

.menu-nav-closed:hover {
    cursor: pointer;
}

.f-to-page:hover {
    text-decoration: underline;
}

/* Other */
.slash-vertical-line, .middle-slash-vertical-line {
    font-size: 17px;
}

.slash-vertical-line {
    margin: 0px;
    margin-top: -1px;
}

.middle-slash-vertical-line {
    margin-top: 15px;
}

/* Mobile Adjustments */

/* TopNavbar */
/* Width */
@media only screen and (max-width: 1000px) {
    .master-header {
        justify-content: center;
    }

    .right-nav {
        width: auto;
    }
}

/* MiddleNavbar */
/* Width */
@media only screen and (max-width: 850px) {
    /* Hide the middle nav */
    .middle-nav-cont {
        display: none;
    }

    /* Display the drop down menu */
    .menu-nav-cont {
        display: flex;
    }
}

@media only screen and (max-width: 730px) {
    .menu-nav-list {
        max-width: 56.3%;
    }
}

@media only screen and (max-width: 600px) {
    .menu-nav-list {
        max-width: 57.4%;
    }
}

@media only screen and (max-width: 500px) {
    .menu-nav-list {
        max-width: 58.4%;
    }
}

@media only screen and (max-width: 450px) {
    .menu-nav-list {
        max-width: 59.7%;
    }
}

@media only screen and (max-width: 400px) {
    .menu-nav-list {
        max-width: 60.7%;
    }
}

@media only screen and (max-width: 375px) {
    .menu-nav-list {
        max-width: 61.1%;
    }
}

@media only screen and (max-width: 350px) {
    .menu-nav-list {
        max-width: 62.5%;
    }
}

@media only screen and (max-width: 330px) {
    .menu-nav-list {
        max-width: 63.5%;
    }
}

@media only screen and (max-width: 295px) {
    .menu-nav-list {
        max-width: 64.5%;
    }
}

@media only screen and (max-width: 287px) {
    .menu-nav-list {
        max-width: 65.5%;
    }
}

@media only screen and (max-width: 283px) {
    .menu-nav-list {
        max-width: 66.5%;
    }
}

/* Other */
/* Width */
@media only screen and (max-width: 365px) {
    .home-li, .contact-li, .login-li, .signup-li {
        padding: 0 5px;
    }

    .f-to-page {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    .f-to-page {
        font-size: 11px;
    }
}

@media only screen and (max-width: 290px) {
    .f-to-page {
        font-size: 10px;
    }
}