/* All Navbar and some Footer CSS*/

/* Containers */

.master-header, .left-nav-menu-list, .right-nav-menu-list, .slash-cont,
.middle-nav-cont, .middle-nav-list {
    display: flex;
}

.master-header {
    justify-content: right;
    vertical-align: middle;
    margin: auto 0;
    margin-top: -9px;
    height: 38px;
    width: 100%;
    background-image: linear-gradient(180deg, rgb(170, 177, 181), rgb(255, 255, 255));
    z-index: 2;
}

.right-nav {
    width: 32%;
}

.middle-nav-cont {
    justify-content: center;
    margin-top: 1vh;
}

/* List and List Items */
.left-nav-menu-list {
    padding-left: 5px;
}

.right-nav-menu-list, .middle-nav-list {
    padding: 0px;
}

.home-li, .contact-li, .login-li, .signup-li,
.logout-li, .home-middle-li, .contact-middle-li,
.lakes-middle-li, .gallery-middle-li {
    list-style-type: none;
}

.home-li, .contact-li, .login-li, .signup-li, .logout-li {
    padding: 0 8px;
}

.home-middle-li, .contact-middle-li,
.lakes-middle-li, .gallery-middle-li {    /* padding is top, right, bottom, and left */
    padding: 15px 0px 15px 0px;
    background-image: linear-gradient(180deg, rgb(200, 209, 214), rgb(255, 255, 255));
    border: 1px solid rgb(137, 137, 137);
}

.contact-middle-li, .lakes-middle-li, .gallery-middle-li {
    border-left: hidden;
}

/* Links */     
/* Some links will overlap from other pages here since each link wants  */
/* these properties. On other css pages, slight adjustments might be    */
/* made to links based on their specific css needed for that page.      */

.home-link, .contact-link, .login-link, .signup-link, .logout-link,
.to-home, .to-contact-us, .to-lakes, .to-gallery, .f-to-home,
.f-to-contact-us, .f-to-lakes, .f-to-gallery, .f-to-new-tab {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.to-home, .to-contact-us, .to-lakes, .to-gallery {     /* extra padding used to make the whole li clickable */
    padding: 17px 24px 16px 24px;
}

/* Hover Effects */
/* Same thing as links, but for hover effects as stated above */

.home-middle-li:hover, .contact-middle-li:hover,
.lakes-middle-li:hover, .gallery-middle-li:hover {
    background-image: linear-gradient(180deg, rgb(210, 220, 225), rgb(255, 255, 255));
}

.home-link:hover, .contact-link:hover, .login-link:hover, .signup-link:hover,
.logout-link:hover, .to-home:hover , .to-contact-us:hover, .to-lakes:hover,
.to-gallery:hover, .f-to-home:hover, .f-to-contact-us:hover, .f-to-lakes:hover,
.f-to-gallery:hover, .f-to-new-tab:hover {
    color: red;
}

.f-to-home:hover, .f-to-contact-us:hover, .f-to-lakes:hover,
.f-to-gallery:hover, .f-to-new-tab:hover {
    text-decoration: underline;
}

/* Other */

.slash-vertical-line, .middle-slash-vertical-line {
    font-size: 17px;
}

.slash-vertical-line {
    margin: 0px;
    margin-top: -1px;
}

.middle-slash-vertical-line {
    margin-top: 15px;
}