/* Lakes Page CSS */

/* Containers */
.lakes-page-title-cont, .left-lake-cont, .right-lake-cont, .lake-info-cont, 
.picture-cont-left, .picture-cont-right, .lakes-lure-cont {
    display: flex;
    justify-content: center;
}

.lakes-page-title-cont {
    height: 30px;
}

.left-lake-cont, .right-lake-cont, .lakes-mobile-cont {
    margin-top: 13vh;
}

.left-lake-cont {
    margin-right: 3vw;
}

.right-lake-cont {
    margin-left: 3vw;
}

.lake-info-cont {
    align-items: center;
    margin-top: -3vh;
}

.picture-cont-left, .picture-cont-right {
    width: 600px;
    height: 100%;
}

.picture-cont-left {
    margin-right: 5vw;
}

.picture-cont-right {
    margin-left: 5vw;
}

.lake-panels-cont {
    margin-bottom: 8vh;
}

.text-wrapper {
    margin-top: -9px;
}

.lakes-lure-cont {
    margin-top: -4px;
}

/* Mobile Containers */
.lakes-mobile-cont {
    display: none;
    justify-content: center;
    width: 100%;
}

/* Text */
.lakes-title {
    font-size: 56px;
}

.lake-title {
    font-size: 32px;
}

.state-name, .lake-temp, .lake-shoreline,
.lake-above-sea, .max-depth, .lake-lure {
    font-size: 18px;
}

/* Images */
/* 90% helps add margins to the images */
.berryessa-pic, .bluemesa-pic, .flaming-gorge-pic, .hell-hole-pic,
.new-bullards-bar-pic, .new-melones-pic, .pardee-pic, .pyramid-pic,
.stampede-pic, .appletini-pic, .cantaloupe-pic, .cherry-fizz-pic,
.hollys-ruby-slipper-pic, .mai-tai-pic, .pinkanator-pic, .pina-colada-pic,
.white-ladder-back-pic {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}

.appletini-pic, .cantaloupe-pic, .cherry-fizz-pic, .hollys-ruby-slipper-pic,
.mai-tai-pic, .pinkanator-pic, .pina-colada-pic, .white-ladder-back-pic {
    border: 2px solid rgb(0, 0, 0);
}

/* Mobile Adjustments */
@media only screen and (max-width: 1092px ) {
    /* Containers */
    .left-lake-cont, .right-lake-cont {
        display: none;
    }

    .lake-info-cont {
        margin-top: -8vh;
    }

    .lakes-page-title-cont {
        margin: 0px;
    }

    /* Mobile Containers */
    .lakes-mobile-cont {
        display: flex;
    }

    /* Text */
    .lake-title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 15px;
    }

    .state-name, .lake-temp, .lake-shoreline,
    .lake-above-sea, .max-depth, .lake-lure {
        text-align: center;
        font-size: 17px;
    }
}

@media only screen and (max-width: 600px) {
    .lakes-title {
        font-size: 48px;
    }
}

@media only screen and (max-width: 525px) {
    .lakes-mobile-cont {
        margin-top: 10vh;
    }

    .lakes-title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 435px) {
    .lakes-mobile-cont {
        margin-top: 8vh;
    }

    .lakes-title {
        font-size: 34px;
    }
}

@media only screen and (max-width: 350px) {
    .lakes-mobile-cont {
        margin-top: 6vh;
    }

    .lakes-title {
        font-size: 28px;
    }

    .lake-title {
        font-size: 26px;
    }
}

@media only screen and (max-width: 310px) {
    .lake-title {
        font-size: 24px;
    }
}