/* Lakes Page CSS */

/* Containers */
.page-title-cont, .lake-cont, .lake-info-cont, .picture-cont-left, 
.picture-cont-right, .berryessa-pic {
    display: flex;
    justify-content: center;
}

.page-title-cont {
    margin-top: 5vh;
    height: 30px;
}

.lake-cont {
    margin-top: 15vh;
}

.lake-info-cont {
    display: flex;
    align-items: center;
}

.picture-cont-left, .picture-cont-right {
    width: 600px;
    height: 100%;
}

.picture-cont-left {
    margin-right: 8vw;
}

.picture-cont-right {
    margin-left: 8vw;
}

.lake-title-cont {
    margin-left: -1vw;
    height: 33px;
}

.text-wrapper {
    margin-top: -9px;
}

/* Picture Containers */
.berryessa-pic, .bluemesa-pic {
    width: 600px;
    background-position: center;
    background-size: contain;
    backface-visibility: hidden;
    border-radius: 7px;
}

.berryessa-pic {
    height: 450px;
    background: url('../frontend/images/berryessa.jpg') no-repeat;
}

.bluemesa-pic {
    height: 400px;
    background: url('../frontend/images/bluemesa.jpg') no-repeat;
}

/* Text */
.lakes-title {
    font-size: 56px;
}

.lake-title {
    font-size: 32px;
}

.lake-temp, .lake-shoreline, .lake-above-sea, .lake-lure {
    font-size: 18px;
}