/* Lakes Page CSS */

/* Containers */
.lakes-page-title-cont, .left-lake-cont, .right-lake-cont, .lake-info-cont, 
.picture-cont-left, .picture-cont-right, .lakes-lure-cont {
    display: flex;
    justify-content: center;
}

.lakes-page-title-cont {
    margin-top: 5vh;
    height: 30px;
}

.left-lake-cont, .right-lake-cont {
    margin-top: 15vh;
}

.left-lake-cont {
    margin-right: 3vw;
}

.right-lake-cont {
    margin-left: 3vw;
}

.lake-info-cont {
    display: flex;
    align-items: center;
}

.picture-cont-left, .picture-cont-right {
    width: 600px;
    height: 100%;
}

.picture-cont-left {
    margin-right: 5vw;
}

.picture-cont-right {
    margin-left: 5vw;
}

.lake-title-cont {
    margin-left: -1vw;
    height: 33px;
}

.lake-panels-cont {
    margin-bottom: 8vh;
}

.text-wrapper, .lakes-lure-cont {
    margin-top: -9px;
}

/* Text */
.lakes-title {
    font-size: 56px;
}

.lake-title {
    font-size: 32px;
}

.lake-temp, .lake-shoreline, .lake-above-sea, .max-depth, .lake-lure {
    font-size: 18px;
}

/* Picture Containers */
.berryessa-pic, .bluemesa-pic, .flaming-gorge-pic, .hell-hole-pic,
.new-bullards-bar-pic, .new-melones-pic, .pardee-pic, 
.pyramid-pic, .stampede-pic, .white-ladder-back-pic {
    background-position: center;
    background-size: contain;
    backface-visibility: hidden;
}

.berryessa-pic, .bluemesa-pic, .flaming-gorge-pic, .hell-hole-pic,
.new-bullards-bar-pic, .new-melones-pic, .pardee-pic,
.pyramid-pic, .stampede-pic {
    width: 600px;
    border-radius: 7px;
}

.bluemesa-pic, .bullards-bar-pic, .flaming-gorge-pic, .hell-hole-pic,
.new-bullards-bar-pic, .pyramid-pic {
    height: 400px;
}

.berryessa-pic, .pardee-pic, .stampede-pic {
    height: 450px;
}

.berryessa-pic {
    background: url('../frontend/images/berryessa.jpg') no-repeat;
}

.bluemesa-pic {
    background: url('../frontend/images/bluemesa.jpg') no-repeat;
}

.flaming-gorge-pic {
    background: url('../frontend/images/flaminggorge.jpg') no-repeat;
}

.hell-hole-pic {
    background: url('../frontend/images/hellhole.jpg') no-repeat;
}

.new-bullards-bar-pic {
    background: url('../frontend/images/newbullardsbar.jpg') no-repeat;
}

.new-melones-pic {
    height: 480px;
    background: url('../frontend/images/newmelones.jpg') no-repeat;
}

.pardee-pic {
    background: url('../frontend/images/pardee.jpg') no-repeat;
}

.pyramid-pic {
    background: url('../frontend/images/pyramid.jpg') no-repeat;
}

.stampede-pic {
    background: url('../frontend/images/stampede.jpg') no-repeat;
}

.white-ladder-back-pic {
    width: 215px;
    height: 88px;
    border-radius: 5px;
}

.white-ladder-back-pic {
    background: url('../frontend/images/LPLure1.jpg') no-repeat;
}