/* All Navbar CSS */

/* Containers */

.master-header, .left-nav-menu-list, .right-nav-menu-list, .slash-cont,
.middle-nav-cont, .middle-nav-list {
    display: flex;
}

.master-header {
    justify-content: right;
    vertical-align: middle;
    margin: auto 0;
    margin-top: -9px;
    height: 38px;
    width: 100%;
    background-image: linear-gradient(180deg, rgb(170, 177, 181), rgb(255, 255, 255));
    z-index: 2;
}

.right-nav {
    width: 35%;
}

.slash-cont {
    margin-top: -3px;
}

.middle-nav-cont {
    justify-content: center;
    margin-top: 3vh;
}

/* List, List Items, and Links */
.left-nav-menu-list, .right-nav-menu-list, .slash-cont {
    padding-left: 5px;
}

.middle-nav-list {
    padding: 0px;
}

.home-li, .about-li, .login-li, .signup-li, .logout-li, .middle-li {
    list-style-type: none;
}

.home-li, .about-li, .login-li, .signup-li, .logout-li {
    padding: 0 8px;
}

.middle-li {    /* padding is top, right, bottom, and left */
    padding: 15px 25px 15px 25px;
    background-image: linear-gradient(180deg, rgb(170, 177, 181), rgb(255, 255, 255));
}

.home-link, .about-link, .login-link, .signup-link, .logout-link {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.home-link:hover, .about-link:hover, .login-link:hover, 
.signup-link:hover, .logout-link:hover {
    color: red;
}

/* Other */

.slash-vertical-line {
    font-size: 17px;
}