/* Splash Page CSS */

.splash-container, .gvf-logo-container {
    width: auto;
    height: auto;
}

.splash-container {
    display: flex;
}

.gvf-logo-container {
    margin-top: 5vh;
    margin-left: 30px;
}

.site-title {
    text-decoration: none;
    font-size: 35px;
    color: blue;
}

.site-title:hover {
    color: rgb(150, 150, 255);
}